@use '../utils/variables' as *;

body {
  background-color: $grey-900;
  min-height: 100vh;
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.social-card {
  background-color: $grey-800;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: $white;
  width: 21.875rem;
  height: auto;
}

.social-card__image {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
