@use '../utils/variables' as *;

body {
  background-color: $grey-900;
  min-height: 100vh;
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.social-card {
  background-color: $grey-800;
  border-radius: 0.5rem;
  padding: 1.5rem;
  color: $white;
  width: 21.875rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-card__image {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.social-card__name {
  font-size: 1.25rem;
  font-weight: $font-weight-regular;
  margin-top: $spacing-medium;
}

.social-card__location {
  font-size: 0.875rem;
  font-weight: $font-weight-semibold;
  margin-top: $spacing-small;
  color: $green;
}

.social-card__bio {
  font-size: 0.875rem;
  font-weight: $font-weight-regular;
  margin-top: $spacing-large;
  text-align: center;
}
